

# # PyTorch CUDA 12.1 wheels
# --extra-index-url https://download.pytorch.org/whl/cu121
# torch==2.5.1+cu121
# torchvision==0.20.1+cu121
# torchaudio==2.5.1+cu121

# Free Streamlit Deployment Torch
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

# Other core ML Stack
transformers>=5.12.1,<6
datasets>=4.4.1,<6
peft>=0.19.1,<1
trl>=1.6.0,<2
accelerate>=1.14.0,<2
bitsandbytes>=0.49.2,<1
sentence-transformers
faiss-cpu

# App

streamlit
trafilatura

# Hugging Face Dependencies

huggingface-hub
tokenizers
safetensors

# Utilities

numpy
tqdm
packaging
langchain_text_splitters

# Tokenizer Support

sentencepiece
protobuf==6.33.6

# Additions for fine-tuning
groq>=0.31.0
python-dotenv>=1.1.0

# Deployed api call app

openai>=1.40.0
python-dotenv